# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment and custom logs
.env
backend/.env
challenges
gemini-hackathon.txt
backendlog.md

DEVPOST_JOURNEY.md

# [FAANG] Sensitive Data Exclusion
backend/data/*.json
log*.md
info.md
prob.md
